body {
    background-color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    color: black;
}

h1 {
    font-size: 2em;
}
  
img {
    width: 200px;
    border-radius: 10px;
}